# Database
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=users
POSTGRES_PORT=5432

# Application
PORT=8080
ENV=development
DB_DSN=postgres://admin:admin@postgres:5432/users?sslmode=disable
JWT_SECRET_KEY=your-secret-key-here-min-32-characters-for-production